.body {
   display: flex;
}


.container {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0rem 20rem 0rem 20rem;
  background-color:   #fff0f5;
  border: 7px   #000000 ;
  border-radius: 2rem;
  box-sizing: content-box;
  box-shadow: 0.5rem 0.4rem 0.4rem 0.4rem black;
  position:  relative;

  /* width: 100vh;
  height: 60vh; */
}


.userInput {
  display: flex;
  flex-wrap: wrap;

}

.input {
  margin-right: 1rem;
  border-radius: 5px;

}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: ;

}

.done {
  text-decoration: line-through;
}

.ul {
  display: block;
}

.delClass {
  padding: 1.5px;
  display: flex;
  color: red;
  opacity: 0.5;
  border-radius: 0.4rem;
}
.toDoList {
  color: darkred;
  /*animation: 3s linear 1s infinite alternate slidein;*/


}