@import 'background.css';
@import '/bluefield.css';
@import '/form.css';
@media only screen and (max-device-width: 950px) {
  .container {
    flex-direction: column;
    padding: 3rem;
  }
}
body {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 5rem;
}
.form_input input.error {
  border-color: red;
}

.error {
  color: red;
  font-size: 12px;
}
